<% layout('layouts/boilerplate')%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="./js/reserve.js"></script>


<div class="d-flex justify-content-between">
  <h2 class="mb-4" style="color: #3C1518"><u>Friend's List</u></h2>
  <a href="/addFriend"><button type="button" class="btn btn-success btn-sm">Add Friend</button></a>
</div>
<div class="container shadow" style="background-color: white;">
    <div class="top mb-3">
    </div>
    <div style="background-color: white;">
      <% for (let friend of data.friends){%>
          <div class="row">
            <img class=".img-responsive col-3" style="max-width: 100" height="100" width="100px" src='<%=friend.profileImage %>' />
            <div class="col-9">
              <h3><%= friend.name %></h3>
              <h6>Birthday: <%= friend.birthday %></h6>
              <form method="GET" action="/removeFriend/<%= friend.name %>">
                <button style="padding: .25rem .4rem; font-size: .875rem; line-height: .5; border-radius: .2rem" class="btn btn-danger">Delete</button>
              </form>
            </div>
          </div>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed text-right" data-toggle="collapse" data-parent="#accordion" href="#<%=friend.id %>" >Wishlist</a>
                </h4>
            </div>
            <div id="<%=friend.id %>" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul>
                    <% for (let item of friend.wishlist){%>
                    <div class="wishlist">
                      <li class="row mb-2">
                        <a class="col-10 object" style="color: #4D8BFF" href="/itemDetails/<%=friend.name%>/<%=item.name%>"><%=item.name%></a>
                        <button style="width: 90px" class="btn btn-success btn-sm col-2">Unreserved</button>
                      </li>
                    </div>
                    <% } %>
                  </ul>
                </div>
            </div>
          </div>
        </div>
        <hr/>
      <% } %>
</div>



  <!-- from help for dropdown -->
  <style>
    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "\e072"; /* "play" icon */
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    
    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }
    </style>