<% layout('layouts/boilerplate')%>
<div class="container" style="background-color: #EDE1D4;">
    <img class="mb-3" style="cursor: pointer;" src="https://static.thenounproject.com/png/344330-200.png" alt="" onclick="history.back()" width="50">
    <div class="d-flex justify-content-center pb-3">
        <h1 style="color: #3C1518"><u>Item Details</u></h1>
    </div>
    <div>
        <h4><b>Name: </b></h4>
        <p><%=itemDetail.itemName%></p>
    </div>
    <div>
        <h4><b>Description: </b></h4>
        <p><%=itemDetail.description%></p>
    </div>
    <div>
        <h4><b>Price: </b></h4>
        <p><%=itemDetail.price%></p>
    </div>
    <div>
        <h4><b>Link: </b></h4>
        <p><u><a style="color: #518BEB" href="<%=itemDetail.link%>"><i><%=itemDetail.link%></i></a></u></p> 
    </div>
    <form method="GET" action="/removeWishlistItem/<%=itemDetail.itemName%>">
        <button class="btn btn-danger mt-4">Delete Item</button>
    </form>
</div>