<% layout('layouts/boilerplate')%>
<div class="container">
    <div class="d-flex justify-content-center pb-3">
        <h1><u>Item Details</u></h1>
    </div>
    <div>
        <h4><b>Name: </b></h4>
        <p><%=itemDetail.name%></p>
    </div>
    <div>
        <h4><b>Description: </b></h4>
        <p><%=itemDetail.description%></p>
    </div>
    <div>
        <h4><b>Price: </b></h4>
        <p><%=itemDetail.price%></p>
    </div>
    <div>
        <h4><b>Link: </b></h4>
        <p><u><a style="color: #518BEB" href="<%=itemDetail.link%>"><i><%=itemDetail.link%></i></a></u></p> 
    </div>
</div>