<% layout('layouts/boilerplate')%>
<div class="container">
    <div class="d-flex justify-content-center pb-3">
        <h1><u>List Details</u></h1>
    </div>

    <div>
        <h4><b>Name: </b></h4>
        <p><%=wishlistDetails.name%></p>
    </div>

    <div>
        <h4><b>Occasion: </b></h4>
        <p><%=wishlistDetails.occasion%></p>
    </div>

    <div>
        <h4><b>Date: </b></h4>
        <p><%=wishlistDetails.date%></p>
    </div>

    <div>
        <div class="d-flex justify-content-between align-items-end">
            <h4><b>Items:</b></h4>
            <p class="text"><a href="/addItem/<%=wishlistDetails.name%>">add item</a></p>
        </div>
        <div class="text">
            <ul class="list-group list-group-flush">
                <% if (wishlistDetails.items) { %>
                    <% for (let item of wishlistDetails.items ){%>
                            <li class="list-group-item d-flex justify-content-between">
                                <a href="/listItemDetails/<%=wishlistDetails.name%>/<%=item.name%>"><%=item.name%></a>
                                <form method="GET" action="/removeListDetailsItem/<%=wishlistDetails.name%>/<%=item.name%>">
                                    <button style="border: none; background-color: white;">Delete Item</button>
                                </form>
                            </li>
                    <% } %>
                <% } %>
              </ul>
        </div>
    </div>
</div>