<% layout('layouts/boilerplate')%>

<div class="container">
    <a href="/editProfile" class="d-flex justify-content-end mb-3"><img src="https://i.imgur.com/dZq6GOm.png" alt="" width="40"></a>
    <img class="mx-auto d-block mb-1" src="<%=data.me.profileImage%>" id="profile_picture" alt="profile picture" width="100">
    <div class="text-center mb-4">
        <p class="mb-1"><%=data.me.name%></p>
        <p>Birthday: <%=data.me.birthday%></p>
    </div>
    <div class="mb-5">
        <div class="d-flex justify-content-between align-items-end">
            <p>My Wishlist</p>
            <p class="text"><a href="/addWishListItem">add item</a></p>
        </div>
        <div class="text">
            <ul class="list-group list-group-flush">
                    <% for (let wishlist of data.me.wishlist ){%>
                        <li class="list-group-item"><a href="/itemDetails/<%=wishlist.name%>"><%=wishlist.name%></a></li>
                    <% } %>
              </ul>
        </div>
    </div>
    <div>
        <div class="d-flex justify-content-between align-items-end">
            <p>Wishlist Ideas</p>
            <p class="text"><a href="/addList">add list</a></p>
        </div>
        <div class="text">
            <ul class="list-group list-group-flush">
                <% for (let wishlist of data.me.wishlistIdeas ){%>
                    <li class="list-group-item"><a href="/listDetails/<%=wishlist.name%>"><%=wishlist.name%> | <%=wishlist.occasion%></a></li>
                <% } %>
              </ul>
        </div>
    </div>
</div>
<script>
    const url_string = window.location.href;
    console.log(url_string);
    const url = new URL(url_string);
    const name = url.searchParams.get("name") || "Brian Nguyen";

    const index = url_string.indexOf("profile_pic") + 12;
    const picture_url = url_string.substring(index);
    
    if (picture_url == "lhost:3000/profile") {
        picture_url = undefined;
    }

    const picture = picture_url || "https://i.imgur.com/PXb4HGt.png";
    console.log(name);
    console.log(picture);
    document.getElementById("name").innerHTML = name;
    document.getElementById("profile_picture").src = picture;

</script>